body {
    background-color: rgb(255, 255, 255);
    font-family:Bradley Hand, cursive;

}

h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:rgb(87, 48, 15);

}
.gallery a {

    background-color: #d3e78f;
    border: 1px solid #d3e78f;
    color:rgb(87, 48, 15);
    text-align: center;
    border-radius: 10px ;
    margin-top: 10px;
    margin-left: 5px;


}

a:hover{
    background-color:#606106;
    color: rgb(255, 255, 255);
}
 
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


header{
    display: flex;
    justify-content: center;
    background-color: #d3e78f;
    padding: 0,5px;
    font-size: 20px;
    text-decoration: none;
    color:navy;
    
}

.spices a{
   
    font-size: 20px;
    text-align: center;

}

.spices{
    float: center;
    background-color: #d3e78f;
    width: 130px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px ;
    justify-content: space-around;
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:rgb(87, 48, 15);
    font-size: 25px;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    margin: 30px ;
    justify-content: space-around;
}

.map{
    display: flex;
    flex-wrap: wrap;
    margin: 30px ;
    justify-content: space-around;
}


footer{
    display: flex;
    justify-content:right;

    background-color: #d3e78f;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color:rgb(87, 48, 15);
}
